@import "global.less";

#about_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: @lightblue;
  color: white;
  padding-top: 46px;

  h2 {
    width: 100%;
    margin-bottom: 39px;
  }

  div {
    width: 29%;
    margin-left: 0;
    margin-right: 0;

    h3 {
      color: @orange;
      margin-bottom: 24px;
    }

    p {
      margin-bottom: 41px;
    }

    img {
      width: 100%;
      margin-bottom: 19px;
    }
  }
}