@import "global.less";

.banner_slick {
    background: black;
    overflow: hidden;

    .slick-slide {
        // font-size: 0;
    }

    // slider buttons
    .slick-prev,
    .slick-next {
        position: absolute;
        display: block;
        cursor: pointer;

        height: 100%;
        width: 0;

        z-index: 500;

        &:before {
            content: "";
            width: 0;
            height: 0;
        }

        svg {
            position: absolute;

            height: 90px;
            width: 90px;

            // opacity: .5;
            opacity: .75;

            &:hover {
              opacity:1;
            }
        }

        path {
            fill: @orange;
        }

    }

    .slick-prev {
        svg {
            left: 1rem;
        }
    }

    .slick-next {
        svg {
            right: 1rem;
        }
    }
}

// content inside each slide
.banner_container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: center;


    a {
        flex-basis: 50%;

        img {}
    }

    div {
        flex-basis: 50%;

        h2 {
            color: @orange;
            font-family: @font-headings;
            font-size: 2.25em;
            margin: @margin;
            text-transform: uppercase;

        }


        p {
            color: #fff;
            margin: @margin;
            width: 65%;

        }


        a {
            padding: 3% 5%;
            display: inline-block;

            &:hover {
                color: #000;
            }
        }
    }
}

.slide2 {
    flex-direction: row-reverse;

}