@import "global.less";

#contact_section {
    padding: 4% 0;
}

.contact_info {
    margin: 0 0 5%;

    a,
    p {
        font-size: 1em;
        font-family: @font-paragraphs;
        text-transform: initial;
        display: block;
        margin: 0 auto;

        &:not(p):hover {
            text-decoration: underline;
        }
    }
}

form {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;

    .form_grp,
    .form_grp_txtarea {
      @media screen and (max-width: 414px){
        margin: 0 0 10%;
      }
      margin: 0 0 5%;
    }

    .form_grp {
        @media screen and (max-width: 768px) {
            width: 100%;
        }

        width: 49%;

        &:last-child {
            margin: 0;
            width: 100%;
            text-align: right;
        }
    }


    .form_grp_txtarea {
        width: 100%;
    }

    label {
        display: block;
        font-family: @font-headings;
        text-transform: uppercase;
        text-align: left;
        font-size: 1.5em;
        width: 100%;
        margin: 0 0 2%;

    }

    input,
    select,
    textarea {
        width: 100%;
        padding: 3%;
        text-align: left;
        font-size: 1.5em;
        border: none;
    }

    textarea {
        height: 15rem;
    }

    button {
      @media screen and (max-width: 414px){
        padding: 2% 0;
      }
        border: none;
        background-color: @red;
        padding: 1% 2%;
        color: #fff;

        &:hover {
            background: @red * @btn-hover;
        }
    }
}