@import "global.less";

footer {
  @media screen and (max-width: 414px) {
    padding: 4% 0;
  }
  margin: 0;
  padding: 0 0 4%;
  font-size: 1em;
  background: #fff;
  // @media screen {
  //   @media (max-width: 600px) {
  //     width: @mobile-side-paddings;
  //   }
  // }
  .contact_info {
    margin: 0;
  }
}

#footer_nav,
#footer_socialmedia {
  @media screen and (max-width: 768px) {
    width: 60%;
  }
  display: flex;
  justify-content: space-between;
  margin: 0 auto 3%;
  padding: 0;
  width: 45%;
}

#footer_nav {
  @media screen and (max-width: 414px) {
    display: none;
  }

  a:hover {
    text-decoration: underline;
  }
  @media screen {
    @media (max-width: 600px) {
      width: 100%;
      margin-bottom: 1em;
    }
  }
}

#footer_socialmedia {
  @media screen and (max-width: 768px) {
    width: 40%;
  }
  @media screen and (max-width: 414px) {
    width: 60%;
  }
  width: 32%;
}

i {
  @icon-color: rgb(173, 181, 189);
  font-size: 2.125em;
  // color: @icon-color;
  color: #000;

  &:hover {
    color: @icon-color * @btn-hover;
  }
}

#copyright {
  font-family: 'Montserrat';
}