@import "global.less";

#gallery_section {
    margin: 0;
    padding: 4% 0;

    h3 {
        @media screen and (max-width: 768px) {
            margin: 0 0 2%;
            text-align: center;
        }

        text-align: left;
        margin: 0 0 2% 20%;
    }

    .gallery_thumbnails {
        @media screen and (max-width: 768px) {
            padding: 0 0 5%;
        }
        @media screen and (max-width: 414px){
            padding: 0 0 10%;
        }

        ul {
            @media screen and (max-width: 1024px) {
                margin: 0 0 5%;
            }
            @media screen and (max-width: 414px){
                margin: 0 0 10%;
            }

            padding: 0;
            margin: 0 0 3%;

            li {
                @media screen and (max-width: 414px){
                    padding: 0;
                }
                padding: 0 8% 0 0;

            }
        }
    }

    .more_media_link {
        @media screen and (max-width: 768px){
            text-align:center;
            padding: 0;
        }
        display: block;
        color: black;
        font-family: @font-headings;
        text-decoration: underline;
        font-size: 1.5em;
        padding: 0 22% 0 0;
        text-align: right;
    }

}