@import "global.less";

#gallery_section {
    margin: 0;
    padding: 4% 0;

    h3 {
        @media screen and (max-width: 768px) {
            margin: 0 0 2%;
            text-align: center;
        }

        text-align: left;
        margin: 0 0 2% 20%;
    }

    .gallery_thumbnails {
        @media screen and (max-width: 768px) {
            padding: 0 0 5%;
        }

        @media screen and (max-width: 414px) {
            padding: 0 0 10%;
        }

        ul {
            @media screen and (max-width: 1024px) {
                padding-bottom: 5%;
            }

            @media screen and (max-width: 414px) {
                margin: 0 0 8%; 
                padding-bottom: 5%;
            }

            margin: 0 auto;
            padding: 0;
            padding-bottom: 3%;
            overflow: hidden;

            li {
                padding: 0;
            }
        }

        img {
            width: 100%;
            margin: 0;
        }

        .slick-slide {
            @media screen and (max-width: 414px) {
                margin: 0;
            }

            margin: 0 .05%;
        }
        
        .slick-list {
            @media screen and (max-width: 414px) {
                margin: 0;
            }

            margin-left: -.5%;
            margin-right: -.5%;
        }

        .slick-dots {
            margin: 0 !important;
            li {
                padding: 0 !important;
            }
        }

        // buttons
        .slick-prev,
        .slick-next {
            position: absolute;
            display: block;
            cursor: pointer;
            height: 100%;
            width: 0;
            z-index: 500;

            &:before {
                content: "";
                width: 0;
                height: 0;
            }

            svg {
                @media screen and (max-width: 414px) {
                    top: 35%;
                }

                position: absolute;
                top: 25%;
                opacity: .85;
            }

            path {
                fill: @orange;
            }

            path:hover {
                fill: @orange * @btn-hover;
            }
        }

        .slick-prev {
            left: 0;

            svg {
                left: 0;
            }
        }

        .slick-next {
            right: 0;

            svg {
                right: 0;
            }
        }

        .more_media_link {
            @media screen and (max-width: 768px) {
                text-align: center;
                padding: 0;
            }

            display: block;
            color: black;
            font-family: @font-headings;
            text-decoration: underline;
            font-size: 1.5em;
            padding: 0 22% 0 0;
            text-align: right;
        }
    }
}