@import "global.less";

header {
    @media screen and (max-width: 768px) {
        padding: 1% 0;
    }

    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    padding: 2% 0;
    background-color: white;
    box-shadow: 0 4px 6px -8px black;
    z-index: 1000;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            @media screen and (max-width: 768px) {
                font-size: 2.25em;
                display: block;
                flex-basis: 100%;
            }
            &:hover {
                text-decoration: underline;
            }
            
            text-decoration: none;
            text-transform: uppercase;

            &#brand {
                @media screen and (max-width: 768px) {
                    padding: 0;
                    flex-basis: 90%;
                    font-size: 2.5em;
                    text-align: center;
                }
                @media screen and (max-width: 414px) {
                    flex-basis: 80%;
                }
                
                margin: 0;
                padding: 0 0 0 2.8%;
                text-align: left;
                font-family: 'Raleway';
                font-size: 3.5em;
                white-space: nowrap;
                flex-basis: 50%;

                &:hover {
                    text-decoration: none;
                }
            }

            &#hamburger_close,
            &#hamburger_icon {
                display: none;
                i {
                    color: #000;
                }
            }

            &#hamburger_icon {
                @media screen and (max-width: 768px) {
                    display: inline-block;
                    flex-basis: 10%;
                    margin: 0;

                    i {
                        font-size: 1.25em;
                    }
                }

                @media screen and (max-width: 414px) {
                    flex-basis: 20%;
                }
            }

            &#hamburger_close {
                text-align: right;
                padding: 0 5% 0 0;
            }
        }

        div {
            @media screen and (max-width: 768px) {
                display: none;
                top: 0;
                left: 0;
                padding: 0;
                width: 100%;
                background: rgba(255, 255, 255, .9);
                position: fixed;
                height: 100%;
                align-items: center;
                flex-wrap: wrap;

                &.active {
                    display:flex;

                    #hamburger_close {
                        display:block;
                    }
                }
            }

            display: inline-flex;
            justify-content: space-around;
            margin: 0;
            font-size: 1em;
            flex-basis: 50%;
        }
    }
}