@import "global.less";

#services_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: @lightblue;
  color: white;
  padding-top: 58px;
  padding-bottom: 34px;

  h2 {
    width: 100%;
  }

  div {
    width: calc(50% - .65em);
    margin-left: 0;
    margin-right: 0;

    margin-bottom: 1.5%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen {
      @media (max-width: 600px) {
        width: 100%;
        margin-bottom: 4%;
      }
    }

    div {
      width: 100%;
      margin-bottom: 0;
    }

    h3, h4 {
      color: @orange;
    }

    h3 {
      margin-top: 30px;
      margin-bottom: 24px;

      width: 100%;

      font-size: 2.35vw;
      white-space: nowrap;

      @media screen {
        @media (min-width: @pg-max-width) {
          font-size: 2.15em;
        }
        @media (max-width: 600px) {
          white-space: unset;
          font-size: 2.15em;
        }
      }
    }

    h4 {
      margin-bottom: 15px;
    }

    img {
      margin-bottom: 32px;
    }

    p {
      margin: 0 auto 15px;
    }

    a {
      width: 59%;
      height: 76px;
      padding: 0;
      margin: 0 auto;

      @media screen {
        @media (max-width: 800px) and (min-width: 600px) {
          font-size: 3vw;
        }
        @media (max-width: 600px) {
          width: calc(100% - 1em);
        }
      }

      span {
        line-height: 76px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    ol {
      list-style-position: inside; // center listed nums
      white-space: nowrap;
      padding: 0;
      margin-top: 0;
      margin-bottom: 15px;
    }

    li {
      text-transform: uppercase;
      margin: 0 auto;
      width: 100%;
      font-size: 1em;
    }
  }
}