@font-headings: 'Raleway';
@font-paragraphs: 'Montserrat';
@pg-max-width: 1390px;
@btn-width: 350px;
@nav-height: 100px;
@section-vert-gap: 80px;
@subcontent-vert-gap: 30px;
@orange: rgb(255, 207, 81);
@red: rgb(232, 52, 58);
@lightblue: rgb(85, 97, 123);
@darkblue: rgb(33, 58, 95);

* {
  box-sizing: border-box;
  font-family: @font-paragraphs;
  margin: 0 auto;
  padding: 0;
}

body, html {
  // margin: 0;
  // padding: 0;
  font-size: 100%;
  // line-height: 150%;
}

.wrapper {
  max-width: @pg-max-width;
  margin: 0 auto;
}

h2, h3, h4, h5, h6, button, a {
  font-family: @font-headings;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: @subcontent-vert-gap;
}

h2 {
  font-size: 64px;
  margin-bottom: @subcontent-vert-gap + 10px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 32px;
}

p, input, select, textarea {
  font-size: 21px;
}

p {
  margin-bottom: @subcontent-vert-gap;
  text-align: center;
}

img {
  margin-bottom: @subcontent-vert-gap;
}

a {
  text-decoration: none;
  color: black;
}

.link_btns {
  display: block;
  margin: 0 auto;
  width: @btn-width;
  font-size: 32px;
  padding: 20px 0;
}

.border_btns {
  color: @orange;
  border: 1px solid @orange;
}

.sections {
  position: relative;

  margin-bottom: @section-vert-gap;
}
.sections .anchors {
  position: absolute;
  top: -@nav-height;
}

// #region header
header {
  display: flex;
  justify-content: space-between;

  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: @pg-max-width;
  height: @nav-height;
  z-index: 100;
}

#adam_dow {
  width: calc(50% - 5px);
  margin: 0;
  padding: 0;
  padding-left: 3%;
  font-family: @font-headings;
  text-transform: uppercase;
  font-size: 80px;
}

nav {
  width: calc(50% - 5px);
  padding-top: 12px; // align to top of adam's name
  font-size: 21px;
  display: inline-flex;
  justify-content: space-around;
}
// #endregion

// #region banner
#banner {
  display: flex;
  margin-top: @nav-height;
}

.banner_img {
  width: 60%;
  margin: 0;
}

.banner_text {
  background-color: black;
  color: white;
  text-align: center;
  width: 40%;

  padding-top: 12%;
}

.banner_text h3 {
  color: @orange;
  font-family: @font-headings;
}

.banner_text p {
  color: white;
  font-size: 21px;

  width: @btn-width;
  margin: 0 auto 50px;
}

.banner_text .link_btns {
  color: @orange;
  border: 1px solid @orange;
}
// #endregion

// #region improv
#improv_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#improv_section h2 {
  width: 100%;
}

#improv_section p {
  width: @btn-width;
  text-align: center;
}

#improv_sec_classes, #improv_sec_shows {
  // width: 50%;
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.improv_sec_imgs {
  width: 100%;
}

#improv_sec_classes_btn {
  background: @orange;
}

#improv_sec_shows_btn {
  background: @red;
  color: white;
}

.improv_sec_links {
  text-decoration: underline;
  color: black;
  margin-top: 10px;
}

#improv_sec_shows_link {
  color: @red;
}
// #endregion

// #region services
#services_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: @lightblue;
  color: white;
  padding-top: 15px;
}

#services_section * {
  width: calc(50% - 10px);
  text-align: center;
}

#services_section div * {
  margin-bottom: @subcontent-vert-gap;
}

#services_section h3, h4 {
  color: @orange;
}

ol {
  list-style-position: inside; // center listed nums
  white-space: nowrap;
  padding: 0;
}

#services_section ol li {
  font-size: 21px;
  text-transform: uppercase;
  margin: 0 auto;
  width: 100%;
}

#services_section h2 {
  order: 1;
  width: 100%;
}

#workshop_title {
  order: 2;
}

#classes_title {
  order: 3;
}

#workshop_img {
  order: 4;
}

#classes_img {
  order: 5;
}

#workshop_desc {
  order: 6;
}

#classes_desc {
  order: 7;
}

#workshop_btn {
  order: 8;
}

#classes_btn {
  order: 9;
}

#production_title {
  order: 10;
}

#acting_title {
  order: 11;
}

#production_img {
  order: 12;
}

#acting_img {
  order: 13;
}

#production_desc {
  order: 14;
}

#acting_desc {
  order: 15;
}

#production_btn {
  order: 16;
}

#acting_btn {
  order: 17;
}
// #endregion

// #region gallery
#gallery_section {

}

#gallery_section h2 {

}

#gallery_section ul {
  padding-left: 0;
}

.gallery_sec_subheadings {
  margin-left: 15%;
  margin-bottom: @subcontent-vert-gap;
  text-align: left;
}

.more_media_links {
  display: block;
  margin-right: 15%;
  text-align: right;
  color: black;
  font-family: @font-headings;
  font-size: 32px;
  text-decoration: underline;
}

.gallery_slider {
  display: flex;
  list-style-type: none;
  margin-bottom: @subcontent-vert-gap;
}

.media_thumbnails {
  width: 100%;
}
// #endregion

// #region about
#about_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: @lightblue;
  color: white;
  padding-top: 15px;
}

#about_section h2 {
  width: 100%;
}

.about_sections {
  width: 30%;
  margin-bottom: @subcontent-vert-gap;
}

.about_sections h3 {
  color: @orange;
  margin-bottom: @subcontent-vert-gap;
}

.about_sections p {
  padding: 0 5px;
  margin-bottom: @subcontent-vert-gap;
}

.about_sec_imgs {
  width: 100%;
  margin-bottom: @subcontent-vert-gap;
}
// #endregion

// #region contact
.contact_info {
  margin-bottom: @subcontent-vert-gap + 10px;
}

.contact_info p {
  margin: 0 auto;
  text-align: center;
}

form {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.form_grp {
  width: calc(50% - 10px);
  margin-bottom: @subcontent-vert-gap;
}

.form_grp_txtarea {
  width: 100%;
  margin-bottom: @subcontent-vert-gap;
}

label {
  font-family: @font-headings;
  font-size: 32px;
  display: block;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 10px;
}

input, select, textarea {
  height: 60px;
  width: 100%;
  padding: 5px;
}

textarea {
  height: 160px;
}

#submit_btn {
  border: none;
  background-color: @red;
  margin: unset;
  margin-left: auto;
}
// #endregion

// #region footer
footer {
  margin-bottom: @subcontent-vert-gap;
}

#footer_nav, #footer_socialmedia {
  display: flex;
  justify-content: space-between;
  margin: 0 auto @subcontent-vert-gap;
  padding: 0;
  width: 45%;
}

#footer_socialmedia {
  width: 30%;
}

i {
  font-size: 32px;
  color: rgb(173, 181, 189);
}
// #endregion