@import "global.less";

// #region header
header {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  width: 100%;
  height: @nav-height;
  background-color: white;
  box-shadow: 0 4px 6px -8px black;
  z-index: 1000;

  nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: .45em;

    #brand {
      margin: 0;
      padding: 0;
      padding-left: 2.8%;
      text-align: left;
      font-family: @font-headings;
      font-size: 3.75em;
      white-space: nowrap;
      width: calc(50% - .5em);

      &:hover {
        text-decoration: none;
      }
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      padding: 0;
      height: fit-content;

      &:hover {
        text-decoration: underline;
      }
    }

    div {
      display: inline-flex;
      justify-content: space-around;
      margin: 0;
      padding-top: .625em;  // top align to brandname
      font-size: 1em;

      width: calc(50% - .5em);

      #hamburger_close {
        display: none;
      }
    }

    #hamburger_icon {
      display: none;
    }
  }
}

.header_sticky {
  position: sticky;
  position: -webkit-sticky; /* Safari */
}
// #endregion

// #region banner
.banner {
  display: flex;
  position: relative;
  white-space: normal;
  height: @banner-slider-height; // same as .frame

  img {
    width: 59.25%;
    margin: 0;
    object-fit: cover;
  }

  div {
    background-color: black;
    margin: 0;
    width: 40.75%;
    padding: 10.7em 7.7% 0 3.9%;

    .banner_heading {
      color: @orange;
      font-family: @font-headings;
      font-size: 2.25em;
      margin: 0 auto 15px;
      line-height: initial;
      text-transform: uppercase;
    }

    .banner_desc {
      color: white;
      margin: 0 auto 35px;
      line-height: initial;
    }

    a {
      width: 99.75%;
      padding-top: 27px;
      padding-bottom: 25px;
    }
  }
}
// #endregion

// #region improv
#improv_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 131px;

  h2 {
    width: 100%;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - .65em);
    margin-bottom: 12px;

    * {
      width: 60%;
      margin: initial auto;
    }
    
    h3 {
      margin-top: 33px;
      margin-bottom: 26px;
    }
    
    img {
      width: 100%;
      margin-bottom: 36px;
    }

    .improv_btns {
      width: 59%;
      padding: 27.5px 0 26px;
    }

    #improv_classes_btn {
      background: @orange;

      &:hover {
        background: @orange * @btn-hover;
      }
    }

    #improv_shows_btn {
      background: @red;
      color: white;

      &:hover {
        background: @red * @btn-hover;
      }
    }

    .improv_links {
      text-decoration: underline;
      color: black;
    }

    #improv_shows_link {
      color: @red;
    }
  }
}
// #endregion

// #region services
#services_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: @lightblue;
  color: white;
  padding-top: 58px;

  * {
    width: calc(50% - .65em);
    margin-left: 0;
    margin-right: 0;
  }

  h2 {
    width: 100%;
  }

  h3, h4 {
    color: @orange;
  }

  h3 {
    margin-top: 32.5px;
    margin-bottom: 27px;
    width: 49.25%;
  }

  img {
    margin-bottom: 35px;
  }

  div {
    * {
      width: 60%;
      margin: 0 auto 15px;
    }

    h4 {
      margin: 0 auto;
    }

    p {
      margin: 18px auto 22px;
    }

    a {
      width: 59%;
      height: 82px;
      margin: 10px auto 18px;
    }

    ol {
      list-style-position: inside; // center listed nums
      white-space: nowrap;
      padding: 0;
    }

    li {
      text-transform: uppercase;
      margin: 0 auto;
      width: 100%;
      font-size: 1em;
    }
  }
}

#workshop_title {
  order: 1;
}

#classes_title {
  order: 2;
}

#workshop_img {
  order: 3;
}

#classes_img {
  order: 4;
}

#workshop_desc {
  order: 5;
}

#classes_desc {
  order: 6;
}

#workshop_btn {
  order: 7;
}

#classes_btn {
  order: 8;
}

#production_title {
  order: 9;
}

#acting_title {
  order: 10;
}

#production_img {
  order: 11;
}

#acting_img {
  order: 12;
}

#production_desc {
  order: 13;
}

#acting_desc {
  order: 14;
}

#production_btn {
  order: 15;
}

#acting_btn {
  order: 16;
}
// #endregion

// #region gallery
#gallery_section {
  margin-bottom: 0; // placeholder
  padding-top: 40px;

  h3 {
    margin-left: 20%;
    margin-bottom: 43px;
    text-align: left;
  }
  
  .more_media_link {
    display: block;
    color: black;
    font-family: @font-headings;
    text-decoration: underline;
    font-size: 1.5em;
    text-align: left;
    margin-left: 67.75%;
    margin-bottom: 0;
  }
}
// #endregion

// #region about
#about_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: @lightblue;
  color: white;
  padding-top: 46px;

  h2 {
    width: 100%;
    margin-bottom: 39px;
  }

  div {
    width: 29%;
    margin-left: 0;
    margin-right: 0;

    h3 {
      color: @orange;
      margin-bottom: 24px;
    }

    p {
      margin-bottom: 41px;
    }

    img {
      width: 100%;
      margin-bottom: 19px;
    }
  }
}
// #endregion

// #region contact
#contact_section {
  padding-top: 33px;
}

.contact_info {
  margin-top: 11px;
  margin-bottom: 37px;

  a, p {
    font-size: 1em;
    font-family: @font-paragraphs;
    text-transform: initial;
    display: block;
    margin: 0 auto;

    &:not(p):hover {
      text-decoration: underline;
    }
  }
}

form {
  width: 79.75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;

  .form_grp {
    width: calc(50% - .65em);
    margin: 0;
    margin-bottom: 37px;
  }

  .form_grp:last-child {
    margin-left: auto;
  }

  .form_grp_txtarea {
    width: 100%;
    margin-bottom: 30px;
  }

  label {
    display: block;
    font-family: @font-headings;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.5em;
    width: 100%;
    margin-bottom: 22px;

  }

  input, select, textarea {
    height: 85px;
    width: 100%;
    padding: 15px;
    text-align: left;
    font-size: 1.5em;
  }

  textarea {
    height: 265px;
    margin-bottom: 10px;
  }

  button {
    border: none;
    background-color: @red;
    width: 74.25%;
    margin-right: 0 !important;

    &:hover {
      background: @red * @btn-hover;
    }
  }
}
// #endregion

// #region footer
footer {
  margin-bottom: 0;
  padding-bottom: 30px;

  font-size: 1em;

  .contact_info {
    margin-bottom: 0;
  }
}

#footer_nav, #footer_socialmedia {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 72px;
  padding: 0;
  width: 45%;
}

#footer_nav {
  // font-size: 1em;

  a:hover {
    text-decoration: underline;
  }
}

#footer_socialmedia {
  width: 32.5%;
  margin-bottom: 65px;
}

i {
  @icon-color: rgb(173, 181, 189);
  font-size: 2.125em;
  color: @icon-color;

  &:hover {
    color: @icon-color * @btn-hover;
  }
}
// #endregion



// -------------- media queries -------------------- //
@media only screen and (max-width: 768px) {
  header {
    height: 4em;
    
    nav {
      #brand {
        display: block;
        padding: 0;
        // text-align: left;
        width: 77%;
        font-size: 2.5em;
      }

      a {
        display: none;
        font-size: 2.25em;
        width: fit-content;
      }
      
      div {
        display: block;
        position: absolute;
        top: 0;
        left: auto;
        right: auto;
        padding: 0;
        width: 100%;
        background: rgba(255,255,255,.75);
      }
      
      #hamburger_icon {
        display: inline-block;
        padding-top: .1em;
        width: 20%;

        i {
          font-size: 1.25em;
        }
      }
    }
  }

  nav.responsive {
    position: relative;

    a {
      display: block;
    }

    #hamburger_close {
      display: block;
      padding-top: 1em;
      width: fit-content;
      margin-left: 70%;

      i {
        color: black;
        font-size: 1.15em;
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .link_btns {
    width: 100%;
  }

  .banner {
    flex-direction: column;
    height: initial;

    img {
      width: @mobile-side-paddings;
      // width: 77.25%; // temp width
      margin: 0 auto;
    }

    div {
      margin: 0 auto;
      width: @mobile-side-paddings;
      padding: 0;
      padding-top: 1.5em;

      .banner_heading {
        font-size: 1.95em;
        margin: 0 auto 18px;
      }

      .banner_desc {
        margin-bottom: 16px;
      }

      a {
        width: 100%;
        padding-top: 18px;
        padding-bottom: 20px;
      }
    }
  }

  #improv_section {
    flex-direction: column;

    div {
      width: 100%;

      * {
        width: @mobile-side-paddings;
        margin: 0 auto;
      }

      .improv_btns {
        width: @mobile-btn-width;
      }

      img {
        width: 100%;
      }
    }
  }
  
  #services_section {
    flex-direction: column;

    * {
      order: unset;
      width: 100%;
      margin: 0 auto;
    }

    h3 {
      width: 100%;
    }

    div * {
      width: 80%;
    }

    img {
      width: 100%;
    }

    div a {
      width: calc(100% - 1em);
    }
  }

  #gallery_section {
    h3, .more_media_link {
      margin: 0 auto;
      text-align: center;
    }
  }

  #about_section {
    flex-direction: column;
    flex-wrap: unset;
    margin: 0 auto;

    div {
      width: 100%;
    }

    div h3, img, p {
      width: @mobile-side-paddings;
      margin: 0 auto;
      
      img {
        width: 100%;
      }
    }
  }

  form {
    flex-direction: column;

    width: @mobile-side-paddings;

    .form_grp {
      width: 100%;

      // how to display ellipsis on text overflow?
      select {
        width: 100%;

        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // font-size: 1em;
        
        option {
          font-size: 1em;
          padding: 0;
          margin: 0;

          // white-space: nowrap;
          // overflow: hidden;
          // text-overflow: ellipsis;
        }
      }

      button {
        width: 100%;
      }
    }
  }

  footer {
    width: @mobile-side-paddings;
    margin: 0 auto;
  }

  #footer_nav, #footer_socialmedia {
    width: 100%;
  }
}