h1,h2,h3,h4,h5,h6,button,a {
  font-family: 'Raleway';
}

p {
  font-family: 'Montserrat';
}

nav {
  display: block;
}

nav a {
  text-decoration: none;
}

nav a:first-child {
  border: 1px dotted red;
  display: inline-block;
  width: 40%;
}